.icon {
    width: 43px;
    height: 43em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    height:45px;
    padding:0 0 8px 0;
  }
  .two_icon{
    width: 25px;
    height: 40px;
    line-height: 40px;
    fill: currentColor;
    overflow: hidden;
    padding:0 0 0 20px;
    float:left;
    margin:0px 0;
    font-size: 30px;
  }